html{
	line-height: 1.15;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
}
article,aside,footer,header,nav,section{
	display: block;
}
h1{
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,figure,main{
	display: block;
}
figure{
	margin: 1em 40px;
}
hr{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	webkit-box-sizing: content-box;
}
pre{
	font-family: monospace, monospace;
	font-size: 1em;
}
a{
	background-color: transparent;
	webkit-text-decoration-skip: objects;
}
abbr[title]{
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
	webkit-text-decoration: underline dotted;
}
b,strong{
	font-weight: inherit;
}
b,strong{
	font-weight: bolder;
}
code,kbd,samp{
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn{
	font-style: italic;
}
mark{
	background-color: #ff0;
	color: #000;
}
small{
	font-size: 80%;
}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub{
	bottom: -0.25em;
}
sup{
	top: -0.5em;
}
audio,video{
	display: inline-block;
}
audio:not([controls]){
	display: none;
	height: 0;
}
img{
	border-style: none;
}
svg:not(:root){
	background-size: 100% auto;
	overflow: hidden;
}
button,input,optgroup,select,textarea{
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,input{
	overflow: visible;
}
button,select{
	text-transform: none;
}
[type=reset],[type=submit],button,html [type=button]{
	webkit-appearance: button;
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
	border-style: none;
	padding: 0;
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
	outline: 1px dotted ButtonText;
}
fieldset{
	padding: 0.35em 0.75em 0.625em;
}
legend{
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	webkit-box-sizing: border-box;
	white-space: normal;
}
progress{
	display: inline-block;
	vertical-align: baseline;
}
textarea{
	overflow: auto;
}
[type=checkbox],[type=radio]{
	box-sizing: border-box;
	padding: 0;
	webkit-box-sizing: border-box;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
	height: auto;
}
[type=search]{
	outline-offset: -2px;
	webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
	webkit-appearance: none;
}
::-webkit-file-upload-button{
	font: inherit;
	webkit-appearance: button;
}
details,menu{
	display: block;
}
summary{
	display: list-item;
}
canvas{
	display: inline-block;
}
template{
	display: none;
}
[hidden]{
	display: none;
}
.menu-acco:after,.menu-acco:before,.nav__list:after,.nav__list:before,.order__form:after,.order__form:before,.team-acco__content:after,.team-acco__content:before{
	content: "";
	display: table;
}
.menu-acco:after,.nav__list:after,.order__form:after,.team-acco__content:after{
	clear: both;
}
@font-face{
	font-family: 'Gagalin-Regular';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Gagalin-Regular.woff") format("woff");
}
@font-face{
	font-family: 'Lifehack-Medium';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Lifehack-Medium.woff") format("woff");
}
@font-face{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Ubuntu-Light.woff") format("woff");
}
@font-face{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Ubuntu-Medium.woff") format("woff");
}
@font-face{
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
}
body,html{
	height: 100%;
}
body{
	background: #dddddd;
	color: #2f3234;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.42;
	moz-osx-font-smoothing: grayscale;
	position: relative;
	webkit-font-smoothing: antialiased;
}
.wrapper{
	box-shadow: 0px 0px 10px black;
	margin: 0px auto;
	min-height: 100%;
	position: relative;
	webkit-box-shadow: 0px 0px 10px black;
}
.container{
	align-items: center;
	margin: 0px auto;
	max-width: 940px;
	ms-flex-align: center;
	webkit-box-align: center;
}
.section{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	min-height: 650px;
	ms-flex-direction: column;
	ms-flex-pack: center;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
	webkit-box-pack: center;
}
@media screen and (max-width:768px){
	.section{
		height: auto;
	}
}
.title{
	color: #f9b43b;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 72px;
	line-height: 1;
}
.title--color--black{
	color: #2f3234;
}
.title--color--white{
	color: #fff;
}
.title--centered{
	text-align: center;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
ul{
	margin: 0;
	padding: 0;
}
ul>li{
	list-style: none;
}
p{
	margin: 0;
	padding: 0;
}
footer{
	position: relative;
	width: 100%;
}
*{
	box-sizing: border-box;
	webkit-box-sizing: border-box;
}
button{
	background: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
}
@-webkit-keyframes slideInUp{
	0%{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		visibility: visible;
		webkit-transform: translate3d(0, 100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
		webkit-transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInUp{
	0%{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		visibility: visible;
		webkit-transform: translate3d(0, 100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
		webkit-transform: translate3d(0, 0, 0);
	}
}
.slideInUp{
	animation: slideInUp .3s;
	webkit-animation: slideInUp .3s;
}
.best{
	align-items: center;
	background: url("../img/bg/best.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	ms-flex-align: center;
	text-align: center;
	webkit-box-align: center;
}
.best .section__title{
	margin-bottom: 5rem;
}
@media screen and (max-width:768px){
	.best .section__title{
		margin-bottom: 2.5rem;
	}
}
.best__icon-pic{
	height: 6.25rem;
	width: 6.25rem;
}
.best__icon-pic svg{
	max-width: 95%;
}
@media screen and (max-width:480px){
	.best__icon-pic{
		ms-transform: none;
		position: static;
		transform: none;
		webkit-transform: none;
	}
}
.best__list{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
}
@media screen and (max-width:480px){
	.best__list{
		flex-direction: column;
		ms-flex-direction: column;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
	}
}
.best__item{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	margin-bottom: 3.125rem;
	ms-flex-direction: column;
	padding: 0 0.9375rem;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
}
@media screen and (max-width:480px){
	.best__item{
		flex-direction: row;
		margin-bottom: 1.5625rem;
		ms-flex-direction: row;
		webkit-box-direction: normal;
		webkit-box-orient: horizontal;
		width: 100%;
	}
}
@media screen and (max-width:480px){
	.best__icon{
		margin-right: 1.25rem;
		width: 30%;
	}
}
@media screen and (max-width:480px){
	.best__desc{
		display: block;
		text-align: left;
		width: 65%;
	}
}
.best__title{
	color: #2f3234;
	font-family: 'Lifehack-Medium';
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}
.btn{
	background: #e45028;
	border-radius: 0.3125rem;
	color: #fff;
	display: inline-block;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.8125rem;
	font-weight: 500;
	padding: 0.5625rem 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}
.burger-slider-wrap{
	padding: 1.25rem 0;
	position: relative;
}
.burger-slider-wrap .owl-carousel .owl-item img{
	width: auto;
}
.burger-weight{
	bottom: 0rem;
	left: 0;
	opacity: .5;
	position: absolute;
}
@media screen and (max-width:768px){
	.burger-weight{
		bottom: auto;
		left: auto;
		right: 0;
		top: 0;
	}
}
.burger-weight__measure{
	background: url("../img/icons/kkal.svg") 50% no-repeat;
	background-size: contain;
	height: 3.75rem;
	position: relative;
	width: 4.0625rem;
}
.burger-weight__amount{
	bottom: 0.5rem;
	color: white;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 1.25rem;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
.burger-weight__title{
	color: #fff;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
	text-align: center;
}
.burgers{
	align-items: center;
	background: #f9b43b;
	background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
	background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
	background: -o-linear-gradient(top, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(60%, #eb8c38), to(#f9b43b));
	background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
	justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center;
}
.burgers .section__title{
	margin-bottom: 0.9375rem;
}
.fixed-menu{
	position: fixed;
	right: 5.5rem;
	top: 9.625rem;
}
@media screen and (max-width:992px){
	.fixed-menu{
		display: none;
	}
}
.fixed-menu__link{
	display: block;
	height: 1rem;
	position: relative;
	width: 1rem;
}
.fixed-menu__link:after,.fixed-menu__link:before{
	border-radius: 50%;
	content: "";
	display: block;
	left: 50%;
	ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	webkit-transform: translate(-50%, -50%);
}
.fixed-menu__link:after{
	background: #fff;
	height: 0.375rem;
	width: 0.375rem;
}
.fixed-menu__link:before{
	border: 0.0625rem solid #fff;
	border-radius: 50%;
	height: 0rem;
	opacity: 0;
	o-transition: .3s;
	transition: .3s;
	webkit-transition: .3s;
	width: 0rem;
}
.fixed-menu__link:hover:before{
	height: 0.875rem;
	opacity: 1;
	width: 0.875rem;
}
.fixed-menu__item.active .fixed-menu__link:before{
	height: 0.875rem;
	opacity: 1;
	width: 0.875rem;
}
.fixed-menu__item{
	margin-bottom: 0.3125rem;
}
.footer{
	background: url("../img/bg/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg") no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	padding: 0.625rem 0;
	position: absolute;
	right: 0;
}
.footer__container{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	padding: 0px 60px;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
@media screen and (max-width:480px){
	.footer__container{
		flex-direction: column;
		ms-flex-direction: column;
		padding: 0px 20px;
		text-align: center;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
	}
}
.footer__address{
	color: #ffffff;
	font-size: 0.875rem;
}
.footer__phone{
	color: #e35028;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: bold;
	text-decoration: none;
}
.footer__phone svg:not(:root){
	height: 12px;
	width: 12px;
}
.footer__col_right{
	margin-bottom: 0;
	text-align: right;
}
@media screen and (max-width:480px){
	.footer__col_right{
		text-align: center;
	}
}
.hamburger-menu-link{
	align-items: center;
	display: none;
	height: 1.375rem;
	margin-left: 1.875rem;
	ms-flex-align: center;
	position: relative;
	vertical-align: middle;
	webkit-box-align: center;
}
@media screen and (max-width:768px){
	.hamburger-menu-link{
		display: inline-flex;
		display: -ms-inline-flexbox;
		display: -webkit-inline-box;
	}
}
.hamburger-menu-link__bars,.hamburger-menu-link__bars:after,.hamburger-menu-link__bars:before{
	background: #fff;
	border-radius: 0.1875rem;
	height: 0.3125rem;
	width: 1.5rem;
}
.hamburger-menu-link__bars:after,.hamburger-menu-link__bars:before{
	content: "";
	display: block;
	position: absolute;
}
.hamburger-menu-link__bars:before{
	top: 0;
}
.hamburger-menu-link__bars:after{
	bottom: 0;
}
.hamburger-menu{
	align-items: center;
	background: rgba(47, 50, 52, 0.99);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	ms-flex-align: center;
	ms-flex-pack: center;
	o-transition: opacity .3s;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity .3s;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-transition: opacity .3s;
	z-index: 100;
}
.hamburger-menu_visible{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	opacity: 0;
}
.hamburger-menu__logo{
	left: 1.875rem;
	position: absolute;
	top: 0.625rem;
}
.hamburger-menu__close{
	box-sizing: content-box;
	height: 1.125rem;
	padding: 0.9375rem;
	position: absolute;
	right: 0.9375rem;
	top: 0.9375rem;
	webkit-box-sizing: content-box;
	width: 1.125rem;
}
.hamburger-menu__close:hover .hamburger-menu__close-icon use{
	fill: #fff;
}
.hamburger-menu__close-icon{
	height: 100%;
	width: 100%;
}
.hamburger-menu__close-icon use{
	fill: #c1c2c2;
	o-transition: fill .3s;
	transition: fill .3s;
	webkit-transition: fill .3s;
}
.header{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	padding: 10px 20px;
	padding-top: 0.75rem;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
.header__menu{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
.nav{
	margin-right: 20px;
}
@media screen and (max-width:768px){
	.nav{
		display: none;
	}
}
.header__links{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	webkit-box-align: center;
	webkit-box-pack: justify;
}
.hero{
	background: url("../img/bg/hero-bg.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
}
@media screen and (max-width:768px){
	.hero{
		padding-bottom: 6.25rem;
	}
}
.hero__content{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
}
@media screen and (max-width:768px){
	.hero__content{
		flex-direction: column;
		ms-flex-direction: column;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
	}
}
.hero__container{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	ms-flex: 1;
	ms-flex-direction: column;
	ms-flex-pack: center;
	padding-bottom: 15%;
	webkit-box-direction: normal;
	webkit-box-flex: 1;
	webkit-box-orient: vertical;
	webkit-box-pack: center;
}
.hero__left,.hero__right{
	width: 50%;
}
@media screen and (max-width:768px){
	.hero__left,.hero__right{
		float: none;
		width: 100%;
	}
}
@media screen and (max-width:480px){
	.hero__left{
		height: 14.375rem;
	}
}
.hero__right{
	padding-top: 7.1875rem;
}
@media screen and (max-width:768px){
	.hero__right{
		padding: 1.875rem 20% 0;
		text-align: center;
	}
}
@media screen and (max-width:480px){
	.hero__right{
		padding: 0 3%;
	}
}
.hero__desc{
	color: white;
	font-family: 'Lifehack-Medium';
	font-size: 4.0625rem;
	line-height: 1em;
	text-transform: lowercase;
}
.hero__img{
	display: inline-block;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	ms-transform: translateX(-50%);
	position: relative;
	transform: translateX(-50%);
	webkit-transform: translateX(-50%);
}
@media screen and (max-width:768px){
	.hero__img{
		max-width: 80%;
	}
}
.down-arrow{
	align-items: center;
	bottom: 1.25rem;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: 3.75rem;
	justify-content: center;
	left: 50%;
	ms-flex-align: center;
	ms-flex-pack: center;
	ms-transform: translateX(-50%);
	o-transition: .3s;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-transform: translateX(-50%);
	webkit-transition: .3s;
	width: 3.75rem;
}
.down-arrow:hover .down-arrow__icon{
	height: 2.8125rem;
	margin-top: -0.9375rem;
	width: 2.8125rem;
}
.down-arrow__icon{
	fill: #fff;
	height: 2.5rem;
	o-transition: .3s;
	transition: .3s;
	webkit-transition: .3s;
	width: 2.5rem;
}
.logo{
	display: inline-block;
	position: relative;
	z-index: 110;
}
.logo svg{
	max-width: 95%;
}
.logo__img{
	height: 4.6875rem;
}
.logo__icon path:first-child{
	fill: #e45028;
}
.yandex-map{
	background: url(../img/bg/footer.jpg) center no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.menu-acco{
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.menu-acco__item{
	float: left;
	height: 100%;
}
.menu-acco__item.active .menu-acco__trigger-text{
	color: #f9b43b;
}
.menu-acco__trigger{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	float: left;
	height: 100%;
	position: relative;
	text-decoration: none;
	width: 5rem;
}
@media screen and (max-width:480px){
	.menu-acco__trigger{
		width: 3.125rem;
	}
}
.menu-acco__trigger-text{
	color: #fff;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 2.5rem;
	left: 50%;
	margin-top: -1.25rem;
	ms-transform: rotate(-90deg) translateY(-50%);
	ms-transform-origin: 0 0;
	position: absolute;
	text-align: center;
	top: 100%;
	transform: rotate(-90deg) translateY(-50%);
	transform-origin: 0 0;
	webkit-transform: rotate(-90deg) translateY(-50%);
	webkit-transform-origin: 0 0;
	white-space: nowrap;
}
@media screen and (max-width:480px){
	.menu-acco__trigger-text{
		font-size: 1.625rem;
	}
}
.menu-acco__content{
	background: rgba(47, 50, 52, 0.93);
	float: left;
	height: 100%;
	width: 300px;
}
.menu-acco__text{
	color: #fff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.8;
	padding: 3.75rem 1.875rem;
	width: 100%;
}
@media screen and (max-width:480px){
	.menu-acco__text{
		padding: 1.5625rem 0.9375rem;
	}
}
.menu{
	background: url("../img/bg/menu.jpg") 50% no-repeat;
	background-size: cover;
	position: relative;
}
.menu__title{
	left: 10%;
	position: absolute;
	top: 10%;
}
.nav{
	display: inline-block;
	vertical-align: middle;
}
@media screen and (max-width:768px){
	.nav{
		display: none;
	}
}
.nav_hamburger{
	width: auto;
}
.nav_hamburger .nav__item{
	animation-fill-mode: forwards;
	display: block;
	opacity: 0;
	text-align: center;
	webkit-animation-fill-mode: forwards;
}
.nav_hamburger .nav__item:after{
	display: block;
	margin: 0.9375rem auto;
}
@media screen and (max-width:768px){
	.nav_hamburger{
		display: block;
	}
}
.nav__list{
	width: 100%;
}
@media screen and (max-width:992px){
	.nav__list{
		text-align: center;
	}
}
.nav__item{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.nav__item:last-child{
	margin-right: 0;
}
.nav__item:last-child:after{
	display: none;
}
.nav__item:after{
	background: white;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 0.25rem;
	margin: 0 0.75rem;
	vertical-align: middle;
	width: 0.25rem;
}
.nav__link{
	color: white;
	display: inline-block;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.8125rem;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav__link:hover{
	text-decoration: underline;
}
.order-link{
	display: inline-block;
	margin-left: 2%;
	min-width: 5.3125rem;
	padding: 0.5625rem 0;
	vertical-align: middle;
	width: 15%;
}
.order{
	align-items: center;
	background: url("../img/bg/order.jpg") 50% no-repeat;
	background-size: cover;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	ms-flex-align: center;
	webkit-box-align: center;
}
.order .section__title{
	text-align: center;
}
.order__form{
	margin-left: -5%;
}
@media screen and (max-width:768px){
	.order__form{
		margin-left: 0;
		padding: 0 20%;
	}
}
@media screen and (max-width:480px){
	.order__form{
		padding: 0;
	}
}
.order__form-col{
	float: left;
	margin-left: 5%;
	width: 45%;
}
@media screen and (max-width:768px){
	.order__form-col{
		float: none;
		margin-left: 0;
		width: 100%;
	}
}
.order__form-row{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	margin-bottom: 1rem;
}
@media screen and (max-width:480px){
	.order__form-row{
		margin-bottom: 0.4375rem;
	}
}
.order__form-label{
	color: #fff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 1.0625rem;
}
@media screen and (max-width:480px){
	.order__form-label{
		margin-bottom: 0.3125rem;
	}
}
.order__form-input{
	border: 0.0625rem solid #d1cfcb;
	border-radius: 0.3125rem;
	font-size: 0.875rem;
	padding: 0.3125rem 0.625rem;
	padding: 0.625rem;
	width: 100%;
}
.order__form-block{
	display: block;
	width: 100%;
}
.order__form-row_double{
	margin-left: -1.25rem;
}
.order__form-row_double .order__form-block{
	margin-left: 1.25rem;
	width: calc(100% / 2 - rem(20px));
}
.order__form-row_quatro{
	margin-left: -1.25rem;
}
.order__form-row_quatro .order__form-block{
	margin-left: 1.25rem;
	width: calc(100% / 4 - rem(20px));
}
.order__form-input_textarea{
	height: 6.875rem;
	resize: none;
}
@media screen and (max-width:480px){
	.order__form-buttons .order__form-row{
		justify-content: center;
		margin-bottom: 1.0625rem;
		ms-flex-pack: center;
		webkit-box-pack: center;
	}
}
.order__radio{
	cursor: pointer;
	display: inline-block;
	margin-right: 1.25rem;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
}
.order__radio-elem{
	left: -624.9375rem;
	position: absolute;
	top: 0;
}
.order__radio-fake{
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 1rem;
	position: relative;
	vertical-align: middle;
	width: 1rem;
}
.order__radio-fake:after{
	background: #e35028;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0rem;
	left: 50%;
	ms-transform: translate(-50%, -50%);
	o-transition: width .3s, height .3s;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: width .3s, height .3s;
	webkit-transform: translate(-50%, -50%);
	webkit-transition: width .3s, height .3s;
	width: 0rem;
}
.order__radio-elem:checked+.order__radio-fake:after{
	height: 0.5rem;
	width: 0.5rem;
}
.order__radio-title{
	color: #fff;
	display: inline-block;
	font-size: 0.875rem;
	margin-left: 0.625rem;
	vertical-align: middle;
}
.order__radio_checkbox .order__radio-fake{
	border-radius: 0rem;
}
.order__radio_checkbox .order__radio-elem+.order__radio-fake:after{
	background: transparent;
}
.order__radio_checkbox .order__radio-elem:checked+.order__radio-fake:after{
	background: url("../img/icons/check.svg") 50% no-repeat transparent;
	background-size: contain;
	height: 0.5625rem;
	width: 0.6875rem;
}
.order__form-button{
	background: #e35028;
	border: 0;
	border-radius: 0.3125rem;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.8125rem;
	margin-right: 1.25rem;
	padding: 0.625rem 0.9375rem;
	text-transform: uppercase;
	vertical-align: middle;
}
.order__form-button_reset{
	background: transparent;
	padding-left: 0;
	padding-right: 0;
	text-transform: none;
}
.popup-area{
	align-items: center;
	background: rgba(47, 50, 52, 0.92);
	bottom: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	left: 0;
	ms-flex-align: center;
	ms-flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	webkit-box-align: center;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
	z-index: 9999999;
}
.popup-area__wrapper{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	margin: 0 auto;
	ms-flex-direction: column;
	ms-flex-pack: distribute;
	webkit-box-direction: normal;
	webkit-box-orient: vertical;
}
.popup{
	background: white;
	border-radius: 10px;
	display: inline-block;
}
.full-review{
	height: 15.625rem;
	padding: 1.5625rem 1.25rem;
	position: relative;
	width: 28.125rem;
}
.full-review__title{
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
	margin-bottom: 1.5625rem;
	text-transform: uppercase;
}
.full-review__content{
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
}
.full-review__close{
	display: block;
	height: 1.125rem;
	opacity: .7;
	o-transition: .3s;
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
	transition: .3s;
	webkit-transition: .3s;
	width: 1.125rem;
}
.full-review__close:hover{
	opacity: 1;
}
.full-review__close svg{
	height: 100%;
	width: 100%;
}
.status-popup__inner{
	padding: 1.25rem;
	text-align: center;
}
.status-popup__message{
	font-size: 0.875rem;
	margin-bottom: 1.25rem;
}
.status-popup{
	width: 15rem;
}
.error-message{
	color: #e35028;
}
.reviews{
	background: #000;
}
@media screen and (max-width:768px){
	.reviews{
		min-height: 0rem;
	}
}
.reviews__list{
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	height: 100%;
	ms-flex-wrap: wrap;
	width: 100%;
}
.reviews__item{
	height: 50%;
	position: relative;
	width: 25%;
}
@media screen and (max-width:768px){
	.reviews__item{
		height: 25%;
		width: 50%;
	}
}
.review{
	height: 100%;
	position: relative;
	width: 100%;
}
.review:after{
	background: transparent;
	bottom: 0;
	content: "";
	left: 0;
	o-transition: .3s;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s;
	webkit-transition: .3s;
}
.review:hover .review__hover{
	ms-transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	webkit-transform: translate(-50%, -50%) scale(1);
}
.review:hover:after{
	background: rgba(20, 20, 20, 0.7);
}
.review__photo{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(100%);
	height: 100%;
	webkit-filter: grayscale(100%);
	width: 100%;
}
.review__hover{
	height: 100%;
	left: 50%;
	ms-transform: translate(-50%, -50%) scale(0.7);
	opacity: 0;
	o-transition: .3s;
	padding: 17% 12% 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.7);
	transition: .3s;
	webkit-transform: translate(-50%, -50%) scale(0.7);
	webkit-transition: .3s;
	width: 100%;
	z-index: 10;
}
@media screen and (max-width:768px){
	.review__hover{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		flex-direction: column;
		justify-content: center;
		ms-flex-direction: column;
		ms-flex-pack: center;
		padding: 0 10%;
		text-align: center;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
		webkit-box-pack: center;
	}
}
.review__title{
	color: #fff;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
	margin-bottom: 1.5625rem;
}
@media screen and (max-width:480px){
	.review__title{
		font-size: 1.25rem;
	}
}
.review__shorttext{
	color: #ffffff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 0.8125rem;
}
@media screen and (max-width:480px){
	.review__shorttext{
		display: none;
	}
}
.review__view{
	background-color: #2f3234;
	border-radius: 0.3125rem;
	color: #ffffff;
	display: inline-block;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	o-transition: .3s;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	webkit-transition: .3s;
}
.review__view:hover{
	background-color: #1f2122;
}
.section{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	overflow: hidden;
	position: relative;
}
@media screen and (max-width:768px){
	.section{
		overflow: auto;
	}
}
.section__title{
	color: #f9b43b;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 4.5rem;
}
.section__title.section__title_black{
	color: #2f3234;
}
.section__title.section__title_white{
	color: white;
}
.socials{
	position: relative;
	top: 50%;
}
.socials__item{
	display: inline-block;
	margin-right: 1.25rem;
	vertical-align: middle;
}
.socials__link{
	display: inline-block;
	max-height: 1.25rem;
	max-width: 1.4375rem;
	opacity: .3;
	o-transition: .3s;
	transition: .3s;
	webkit-transition: .3s;
}
.socials__link:hover{
	opacity: 1;
}
.socials__link-icon{
	height: 2.3125rem;
	width: 2.3125rem;
}
@media screen and (max-width:768px){
	.team-acco{
		padding-bottom: 1.25rem;
	}
}
.team-acco__item{
	margin-bottom: 2.5rem;
	width: 21.875rem;
}
@media screen and (max-width:768px){
	.team-acco__item{
		margin-bottom: 1.875rem;
	}
}
.team-acco__item:last-child{
	margin-bottom: 0;
}
.team-acco__item.active .team-acco__trigger{
	color: #f9b43b;
}
.team-acco__item.active .team-acco__trigger:before{
	ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	webkit-transform: rotate(-180deg);
}
.team-acco__trigger{
	color: #fff;
	display: block;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
	margin-bottom: 1.25rem;
	position: relative;
	text-decoration: none;
}
.team-acco__trigger:after,.team-acco__trigger:before{
	content: "";
	display: block;
	height: 0;
	left: -1.125rem;
	position: absolute;
	top: 0.5rem;
	width: 0;
}
.team-acco__trigger:before{
	border-bottom: 0rem solid transparent;
	border-left: 0.3125rem solid transparent;
	border-right: 0.3125rem solid transparent;
	border-top: 0.4375rem solid #f9b43b;
	ms-transform: rotate(0deg);
	o-transition: .3s;
	transform: rotate(0deg);
	transition: .3s;
	webkit-transform: rotate(0deg);
	webkit-transition: .3s;
}
.team-acco__trigger:after{
	border-bottom: 0.4375rem solid #f9b43b;
	border-left: 0.3125rem solid transparent;
	border-right: 0.3125rem solid transparent;
	border-top: 0rem solid transparent;
	display: none;
}
@media screen and (max-width:768px){
	.team-acco__trigger{
		display: inline-block;
		font-size: 1.5625rem;
	}
	.team-acco__trigger:before{
		margin-top: 0.625rem;
	}
}
.team-acco__item_active .team-acco__trigger:before{
	ms-transform: rotate(180deg);
	transform: rotate(180deg);
	webkit-transform: rotate(180deg);
}
.team-acco__item_active .team-acco__content{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
}
.team-acco__content{
	display: none;
}
@media screen and (max-width:768px){
	.team-acco__content{
		display: none;
		padding: 0 25%;
	}
}
.team-acco__pic{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	text-align: center;
}
@media screen and (max-width:768px){
	.team-acco__pic{
		margin-bottom: 0.9375rem;
	}
}
.team-acco__img{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	height: 6.25rem;
	margin-right: 1.25rem;
	vertical-align: top;
	width: 6.25rem;
}
.team-acco__text{
	width: 70%;
}
.team-acco__pic,.team-acco__text{
	float: left;
}
@media screen and (max-width:768px){
	.team-acco__pic,.team-acco__text{
		float: none;
		width: 100%;
	}
}
.team-acco__title{
	color: #fff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 0.875rem;
}
.team-acco__text-content{
	color: #fff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
}
.team{
	background: url("../img/bg/teammate.jpg") 50% no-repeat;
	background-size: cover;
	position: relative;
}
.team .section__title{
	margin-bottom: 12%;
}
@media screen and (max-width:768px){
	.team{
		align-items: center;
		display: none;
		justify-content: center;
		ms-flex-align: center;
		ms-flex-pack: center;
		webkit-box-align: center;
		webkit-box-pack: center;
	}
	.team:before{
		background: rgba(47, 50, 52, 0.93);
		bottom: 0;
		content: "nvbnvbn";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.team__section{
	background: rgba(47, 50, 52, 0.93);
	bottom: 0;
	left: 50%;
	padding: 5% 2% 0 7%;
	position: absolute;
	right: 0;
	top: 0;
}
@media screen and (max-width:768px){
	.team__section{
		background: transparent;
		bottom: 0;
		left: 0;
		padding: 0;
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
	}
}
.text-block p{
	font-size: 0.875rem;
	line-height: 1.8;
}
.slider-burger__wrapper{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	moz-user-select: none;
	ms-flex-align: center;
	ms-user-select: none;
	user-select: none;
	webkit-box-align: center;
	webkit-user-select: none;
}
.slider-burger__slides{
	flex: 1;
	ms-flex: 1;
	webkit-box-flex: 1;
}
.slider-burger__arrow{
	cursor: pointer;
	height: 1.9375rem;
	overflow: hidden;
	width: 1.0625rem;
}
.slider-burger__slide{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	ms-flex-align: center;
	webkit-box-align: center;
}
@media screen and (max-width:768px){
	.slider-burger__slide{
		flex-direction: column;
		margin-bottom: 30px;
		margin-top: 140px;
		ms-flex-direction: column;
		text-align: center;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
	}
}
@media screen and (max-width:480px){
	.slider-burger__slide{
		flex-direction: column;
		margin-bottom: 30px;
		margin-top: 140px;
		ms-flex-direction: column;
		text-align: center;
		webkit-box-direction: normal;
		webkit-box-orient: vertical;
	}
}
.slider-burger__slide>div{
	flex: 1;
	ms-flex: 1;
	webkit-box-flex: 1;
}
.slider-burger__slide>div:first-child{
	text-align: center;
}
.slider-burger__slide>div:first-child>div{
	display: inline-block;
	padding: 50px 0px;
	position: relative;
}
.slider-burger__slide img{
	width: 21.875rem;
}
@media screen and (max-width:480px){
	.slider-burger__slide img{
		width: 16.875rem;
	}
}
.slider-burger__slide svg{
	position: absolute;
}
.slider-burger{
	background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
	background-image: -ms-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
	background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}
.slider-burger__name{
	color: #ffffff;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 4.495rem;
	text-align: center;
	width: 350px;
}
@media screen and (max-width:768px){
	.slider-burger__name{
		font-size: 3.8075rem;
	}
}
@media screen and (max-width:480px){
	.slider-burger__name{
		font-size: 2.5575rem;
		width: 280px;
	}
}
.slider-burger__description{
	color: #ffffff;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.87375rem;
	font-weight: 300;
	width: 22.5rem;
}
@media screen and (max-width:768px){
	.slider-burger__description{
		font-size: 0.87375rem;
		width: 21.875rem;
	}
}
@media screen and (max-width:480px){
	.slider-burger__description{
		font-size: 0.74875rem;
		width: 17.5rem;
	}
}
.slider-burger__composition{
	background-color: #f08c33;
	border-radius: 0.3125rem;
	bottom: 15.625rem;
	height: 5.625rem;
	left: 0rem;
	position: absolute;
	width: 5.625rem;
}
@media screen and (max-width:768px){
	.slider-burger__composition{
		background-color: #f08c33;
		border-radius: 0.3125rem;
		bottom: 14.375rem;
		height: 5.625rem;
		left: 0rem;
		position: absolute;
		width: 5.625rem;
	}
}
.slider-burger__text{
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
}
.slider-burger__kkal{
	height: 5.63625rem;
	opacity: 0.5;
	position: absolute;
	right: 15.625rem;
	top: 6.875rem;
	width: 5.625rem;
}
@media screen and (max-width:768px){
	.slider-burger__kkal{
		height: 5.63625rem;
		opacity: 0.5;
		position: absolute;
		right: 0rem;
		top: -13.125rem;
		width: 5.625rem;
	}
}
.slider-burger__weight{
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 1.25rem;
	opacity: 0.5;
}
.slider-burger__kall{
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 0.875rem;
	opacity: 0.5;
}
.slider-burger__cost{
	color: #e35028;
	display: inline-block;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 4.495rem;
}
@media screen and (max-width:768px){
	.slider-burger__cost{
		font-size: 3.1825rem;
	}
}
@media screen and (max-width:480px){
	.slider-burger__cost{
		font-size: 3.1825rem;
	}
}
.slider-burger__cost-text{
	color: #e35028;
	display: inline-block;
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
	font-size: 1.8725rem;
	margin-right: 1.875rem;
}
.slider-burger__order{
	display: inline-block;
}
.slider-burger__order-text{
	background: #e35028;
	border: 0;
	border-radius: 0.3125rem;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 0.8125rem;
	margin-right: 1.25rem;
	padding: 0.625rem 0.9375rem;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	vertical-align: text-bottom;
}
