.header {
	padding-top: rem(12px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
  	align-items: center;
}

.nav {
	margin-right: 20px;
	@include tablets {
		display: none;
	}
}

.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}